
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sky {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(5, 5, 5);
}

.moon {
  position: absolute;
  left: 60px;
  top: 45px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

#moonCanvas {
  position: absolute;
  top: 400px;
  width: 400px;
  height: 400px;
}

.littlePrince {
  position: absolute;
  top: 275px;
  left: 650px;
}

.prince {
  position: absolute;
  left: 600px;
  top: -150px;
}

.shadeCanvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.canvasContainer {
  position: relative;
  width: 1500px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../image/book/book.png');
}

.draftBookOpen {
  position: absolute;
  bottom: 35px;
  left: 20px;
  background: transparent;
  border: transparent;
  outline: none;
}

.invisible {
  visibility: hidden;
}