
.rgbMixer {
  position: relative;
}

.pigment {
  position: absolute;
}

.pig1 {
  top: 0;
  left: 450px;
}

.pig2 {
  top: 700px;
  left: 850px;
}

.pig3 {
  top: 750px;
  left: 50px;
}

.rotate120 {
  transform: rotate(120deg);
  -ms-transform: rotate(120deg);		/* IE 9 */
  -webkit-transform: rotate(120deg);	/* Safari and Chrome */
  -o-transform: rotate(120deg);		/* Opera */
  -moz-transform: rotate(120deg);		/* Firefox */
}

.rotate240 {
  transform: rotate(240deg);
  -ms-transform: rotate(240deg);		/* IE 9 */
  -webkit-transform: rotate(240deg);	/* Safari and Chrome */
  -o-transform: rotate(240deg);		/* Opera */
  -moz-transform: rotate(240deg);		/* Firefox */
}